// 作为普通 css 引入
html body {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #999;
  font-size: 20px;
}

.user-page {
  padding: 20px;
  background: rgb(232, 214, 214);
}